<html>
<head>
    <meta charset="utf-8">
    <title>ClassBoom</title>
</head>
<body>
    <main>
        {% if user.is_authenticated %}
            سلام {{ user.username }}!
                {% if user.is_staff %}
                    <br>
                    <button onclick="location.href='{% url 'professor_recording' %}'" type="button">فیلم های کلاس</button>
                    <br>
                    <button onclick="location.href='{% url 'professor_homework' %}'" type="button">تمارین</button>
                {% else %}
                    <br>
                    <button onclick="location.href='{% url 'student_recording' %}'" type="button">فیلم های کلاس</button>
                    <br>
                    <button onclick="location.href='{% url 'student_homework' %}'" type="button">تمارین</button>
                {% endif %}
            <p>اگر می خواهید از حساب خود خارج شوید، لطفا از  <a href="{% url 'logout' %}">اینجا</a> اقدام کنید</p>
        {% else %}
            <p>لطفا ابتدا <a href="{% url 'login' %}">وارد</a> شوید</p>
            <p>اگر ادمین هستید لطفا از <a href="/admin">اینجا</a> وارد شوید</p>
        {% endif %}
    </main>
</body>
</html>