<html>
<head>
    <meta charset="utf-8">
    <title>ClassBoom</title>
</head>
<body>
    <main>
        {% if user.is_authenticated %}
            Hi {{ user.username }}!
                {% if user.is_staff %}
                    <br>
                    <button onclick="location.href='{% url 'professor_recording' %}'" type="button">Class Recordings</button>
                    <br>
                    <button onclick="location.href='{% url 'professor_homework' %}'" type="button">Assignments</button>
                {% else %}
                    <br>
                    <button onclick="location.href='{% url 'student_recording' %}'" type="button">Class Recordings</button>
                    <br>
                    <button onclick="location.href='{% url 'student_homework' %}'" type="button">Assignments</button>
                {% endif %}
            <p>If you want to sign out, please click <a href="/logout">here</a> </p>
        {% else %}
            <p>Please <a href="/login">log in</a> first</p>
            <p>If you are the admin please <a href="/admin">log in</a> from here </p>
        {% endif %}
    </main>
</body>
</html>