<html>
    <head>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
        <title>Homeworks</title>
    </head>

    <body>
    {% if user.is_staff %}
        <h2>لیست ویدئو ها</h2>

        <table>
          <tr>
            <th>عنوان</th>
            <th>تاریخ آپلود</th>
            <th>مشاهده</th>
          </tr>
          {% for vids in videos %}
            <tr>
                <td>{{vids.title}}</td>
                <td>{{vids.pub_date}}</td>
                <td><a href="{% url 'professor_video_stream' vids.id %}">مشاهده</a></td>
            </tr>
          {% endfor %}

        </table>
        <button onclick="location.href='{% url 'professor_recording_creation' %}'" type="button">TO BE ADDED اضافه کردن ویدئو</button>
        <button onclick="location.href='{% url 'home' %}'" type="button">بازگشت</button>
    {% else %}
            <p>شما اجازه دسترسی به این صفحه را ندارید. لطفا به  <a href="/">خانه</a> برگردید.</p>
    {% endif %}
    </body>
</html>
