<html>
    <head>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
        <title>Homeworks</title>
    </head>

    <body>
    {% if user.is_staff %}
        <h2>Submitted Answers:</h2>

        <table>
          <tr>
            <th> Student Number </th>
            <th> Last Submission Date </th>
            <th> Attached File </th>
            <th> Current Score </th>
            <th> Change Score </th>
          </tr>
          {% for ans in answer.answer_set.all %}
            <tr>
                <td>{{ans.user.get_username}}</td>
                <td>{{ans.upload_date}}</td>
                <td><a  href="{{ans.answer_document.url}}" download>Download</a></td>
                {% if ans.score != Null %}
                    <td>{{ans.score}}</td>
                {% else %}
                    <td>-</td>
                {% endif %}
                <td>
                    <form method="post" action="">
                        {% csrf_token %}
                        <input type="number" name="newScore{{ans.id}}">
                        <button type="submit" name="save" value="save" >Save</button>
                    </form>
                </td>
            </tr>
          {% endfor %}

        </table>
        <br>
        <button onclick="location.href='{% url 'professor_homework' %}'" type="button">Return</button>
    {% else %}
        <p> You are not authorized to access this page, please return <a href="/">home</a> </p>
    {% endif %}
    </body>
</html>
