<html>
<head>
    <meta charset="utf-8">
    <title>Create</title>
</head>
<body>
    <main>
        {% if user.is_staff %}
            <form method="post" action="/hw/prf/">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" name="save">ساخت!</button>
            </form>
            <br>
            <button onclick="location.href='{% url 'professor_homework' %}'" type="button">بازگشت</button>
        {% else %}
            <p>شما اجازه دسترسی به این صفحه را ندارید. لطفا به  <a href="/">خانه</a> برگردید.</p>
        {% endif %}
    </main>
</body>
</html>