<html>
<head>
    <meta charset="utf-8">
    <title>Stream</title>
</head>
<body>
    <main>
        {% if user.is_staff %}
            <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" controls="controls">
                <source src="{{vid.video.url}}" type="video/mp4"/>
            </video>
            <button onclick="location.href='{% url 'professor_recording' %}'" type="button">Return</button>
        {% else %}
            <p> You are not authorized to access this page, please return <a href="/">home</a> </p>
        {% endif %}
    </main>
</body>
</html>