<html>
    <head>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
        <title>Homeworks</title>
    </head>

    <body>
    {% if user.is_staff %}
        <h2>Assignments</h2>

        <table>
          <tr>
            <th>Titel</th>
            <th>Creation Date</th>
            <th>Deadline</th>
            <th>Attached File</th>
            <th>Further Information</th>
          </tr>
          {% for ques in question %}
            <tr>
                <td><a href="/hw/prf/{{ques.id}}" >{{ques.question_title}}</a></td>
                <td>{{ques.pub_date}}</td>
                <td>{{ques.deadline_date}}</td>
                <td><a  href="{{ques.document.url}}" download>Download</a></td>
                <td>{{ques.explanation}}</td>
            </tr>
          {% endfor %}

        </table>

        <button onclick="location.href='{% url 'professor_homework_creation' %}'" type="button">Add Assignment</button>
        <br>
        <button onclick="location.href='{% url 'home' %}'" type="button">Return</button>
    {% else %}
        <p> You are not authorized to access this page, please return <a href="/">home</a> </p>
    {% endif %}
    </body>
</html>
