<html>
<head>
    <meta charset="utf-8">
    <title>Create</title>
</head>
<body>
    <main>
        {% if user.is_staff %}
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <input type="datetime-local" name="deadline_date">
                <button type="submit" name="save">Create!</button>
            </form>
            <br>
            <button onclick="location.href='{% url 'professor_homework' %}'" type="button">Return</button>
        {% else %}
            <p> You are not authorized to access this page, please return <a href="/">home</a> </p>
        {% endif %}
    </main>
</body>
</html>