<html>
    <head>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
        <title>Homeworks</title>
    </head>

    <body>
    {% if user.is_staff %}
        <h2>لیست پاسخ ها</h2>

        <table>
          <tr>
            <th>شماره دانشجویی</th>
            <th>تاریخ آخرین ارسال</th>
            <th>فایل ارسالی</th>
            <th>نمره فعلی</th>
            <th>تغییر نمره</th>
          </tr>
          {% for ans in answer.answer_set.all %}
            <tr>
                <td>{{ans.user.get_username}}</td>
                <td>{{ans.upload_date}}</td>
                <td><a  href="{{ans.answer_document.url}}" download>دانلود</a></td>
                {% if ans.score != Null %}
                    <td>{{ans.score}}</td>
                {% else %}
                    <td>-</td>
                {% endif %}
                <td>
                    <form method="post" action="">
                        {% csrf_token %}
                        <input type="number" name="newScore{{ans.id}}">
                        <button type="submit" name="save" value="save" >ذخیره</button>
                    </form>
                </td>
            </tr>
          {% endfor %}

        </table>
        <br>
        <button onclick="location.href='{% url 'professor_homework' %}'" type="button">بازگشت</button>
    {% else %}
        <p>شما اجازه دسترسی به این صفحه را ندارید. لطفا به  <a href="/">خانه</a> برگردید.</p>
    {% endif %}
    </body>
</html>
