<html>
    <head>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
        <title>Homeworks</title>
    </head>

    <body>
    {% if user.is_staff %}
        <h2>Recordings</h2>

        <table>
          <tr>
            <th>Title</th>
            <th>Upload Date</th>
            <th>Watch</th>
          </tr>
          {% for vids in videos %}
            <tr>
                <td>{{vids.title}}</td>
                <td>{{vids.pub_date}}</td>
                <td><a href="{% url 'professor_recording_stream' vids.id %}">Stream</a></td>
            </tr>
          {% endfor %}

        </table>
        <button onclick="location.href='{% url 'professor_recording_creation' %}'" type="button">Add Recordings</button>
        <button onclick="location.href='{% url 'home' %}'" type="button">Return</button>
    {% else %}
        <p> You are not authorized to access this page, please return <a href="/">home</a> </p>
    {% endif %}
    </body>
</html>
