<html>
    <head>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
        <title>Homeworks</title>
    </head>

    <body>
    {% if user.is_staff %}
        <h2>لیست تکالیف</h2>

        <table>
          <tr>
            <th>عنوان</th>
            <th>تاریخ ایجاد</th>
            <th>آخرین مهلت ارسال</th>
            <th>فایل سوالات</th>
            <th>توضیحات اضافی</th>
          </tr>
          {% for ques in question %}
            <tr>
                <td><a href="/hw/prf/{{ques.id}}" >{{ques.question_title}}</a></td>
                <td>{{ques.pub_date}}</td>
                <td>{{ques.deadline_date}}</td>
                <td><p>TO BE ADDED</p></td>
                <td>{{ques.explanation}}</td>
            </tr>
          {% endfor %}

        </table>

        <button onclick="location.href='{% url 'professor_homework_creation' %}'" type="button">اضافه کردن تمرین</button>
        <br>
        <button onclick="location.href='{% url 'home' %}'" type="button">بازگشت</button>
    {% else %}
            <p>شما اجازه دسترسی به این صفحه را ندارید. لطفا به  <a href="/">خانه</a> برگردید.</p>
    {% endif %}
    </body>
</html>
