<p style="text-align: right;">استاد خوش آمدید</p>
<p style="text-align: right;">در حال حاظر شما در صفحه تکالیف هستید</p>
<table style="border-collapse: collapse; width: 100%; height: 90px;" border="1">
<tbody>
<tr style="height: 18px;">
<td style="width: 20%; height: 18px; text-align: center;"><strong>تغییر نمره</strong></td>
<td style="width: 20%; height: 18px; text-align: center;"><strong>نمره فعلی</strong></td>
<td style="width: 20%; height: 18px; text-align: center;"><strong>فایل ارسالی</strong></td>
<td style="width: 20%; height: 18px; text-align: center;"><strong>تاریخ آخرین ارسال</strong></td>
<td style="width: 20%; height: 18px; text-align: center;"><strong>شماره دانشجویی</strong></td>
</tr>
<tr style="height: 18px;">
<td style="width: 20%; height: 18px; text-align: center;">&nbsp;</td>
<td style="width: 20%; height: 18px; text-align: center;">&nbsp;</td>
<td style="width: 20%; height: 18px; text-align: center;">&nbsp;</td>
<td style="width: 20%; height: 18px; text-align: center;">&nbsp;</td>
<td style="width: 20%; height: 18px; text-align: center;"><a title="shomare" href="TESTURL">shomare</a></td>
</tr>
<tr style="height: 18px;">
<td style="width: 20%; height: 18px; text-align: center;">&nbsp;</td>
<td style="width: 20%; height: 18px; text-align: center;">&nbsp;</td>
<td style="width: 20%; height: 18px; text-align: center;">&nbsp;</td>
<td style="width: 20%; height: 18px; text-align: center;">&nbsp;</td>
<td style="width: 20%; height: 18px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="width: 20%; height: 18px; text-align: center;">&nbsp;</td>
<td style="width: 20%; height: 18px; text-align: center;">&nbsp;</td>
<td style="width: 20%; height: 18px; text-align: center;">&nbsp;</td>
<td style="width: 20%; height: 18px; text-align: center;">&nbsp;</td>
<td style="width: 20%; height: 18px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="width: 20%; height: 18px; text-align: center;">&nbsp;</td>
<td style="width: 20%; height: 18px; text-align: center;">&nbsp;</td>
<td style="width: 20%; height: 18px; text-align: center;">&nbsp;</td>
<td style="width: 20%; height: 18px; text-align: center;">&nbsp;</td>
<td style="width: 20%; height: 18px; text-align: center;">&nbsp;</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>