<html>
    <head>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
    </head>

    <body>

    <h2>لیست ویدیو ها</h2>

    <table>
      <tr>
        <th>عنوان</th>
        <th>تاریخ ایجاد</th>
        <th>فایل ویدیویی</th>
      </tr>
      {% for vid in videos %}
        <tr>
            <td>{{vid.title}}</td>
            <td>{{vid.pub_date}}</td>
            <td><p>TO BE ADDED</p></td>
        </tr>
      {% endfor %}

    </table>

    </body>
</html>
