<html>
<head>
    <meta charset="utf-8">
    <title>Create</title>
</head>
<body>
    <main>
        {% if user.is_authenticated %}
            {% if uses.is_staff %}
                <p>You are the professor, please access the assignments page from <a href="/">here</a></p>
            {% else %}
                <p>{{explanation}}</p>
                <form method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" Value="Upload!">
                </form>
                <br>
                <button onclick="location.href='{% url 'student_homework' %}'" type="button">Return</button>
            {% endif %}
        {% else %}
            <p> You are not authorized to access this page, please return <a href="/">home</a> </p>
        {% endif %}
    </main>
</body>
</html>