<html>
    <head>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
    </head>

    <body>
    {% if user.is_authenticated %}
        {% if user.is_staff %}
            <p>شما استاد درس هستید. لطفا برای دسترسی به تکالیف از<a href="/">صفحه</a>خودتان اقدام کنید.</p>
        {% else %}
            <h2>لیست تکالیف</h2>

            <table>
              <tr>
                <th>عنوان</th>
                <th>آخرین تاریخ ارسال</th>
                <th>فایل سوالات</th>
                <th>توضیحات اضافی</th>
                <th>ارسال پاسخ</th>
                <th>نمره فعلی</th>
              </tr>
              {% for ques in question %}
                <tr>
                    <td>{{ques.question_title}}</td>
                    {% if ques.deadline_date %}
                        <td>{{ques.deadline_date}}</td>
                    {% else %}
                        <td>---</td>
                    {% endif %}
                    <td><a  href="{{ques.document.url}}" download>دانلود</a></td>
                    <td>{{ques.explanation}}</td>
                    {% if current_time.date < ques.deadline_date.date %}
                        <td><a href = "{% url 'student_homework_upload' ques.id %}">ارسال پاسخ</a></td>
                    {% else %}
                        {% if current_time.date == ques.deadline_date.date %}
                            {% if current_time.time < ques.deadline_date.time %}
                                <td><a href = "{% url 'student_homework_upload' ques.id %}">ارسال پاسخ</a></td>
                            {% else %}
                                <td>مهلت ارسال پاسخ تمام شده است</td>
                            {% endif %}
                        {% else %}
                            <td>مهلت ارسال پاسخ تمام شده است</td>
                        {% endif %}
                    {% endif %}
                    <td>-</td>
                </tr>
              {% endfor %}
                {% for anses in answer %}
                <tr>
                    <td>{{anses.question.question_title}}</td>
                    {% if anses.question.deadline_date %}
                        <td>{{anses.question.deadline_date}}</td>
                    {% else %}
                        <td>---</td>
                    {% endif %}
                    <td><a  href="{{anses.question.document.url}}" download>دانلود</a></td>
                    <td>{{anses.question.explanation}}</td>
                    <td><a href = "{% url 'student_homework_upload' anses.question.id %}">ارسال پاسخ</a></td>
                    <td>{{anses.score}}</td>
                </tr>
              {% endfor %}
            </table>
        {% endif %}
        <button onclick="location.href='{% url 'home' %}'" type="button">بازگشت</button>
    {% else %}
        <p>شما اجازه دسترسی به این صفحه را ندارید. لطفا به  <a href="/">خانه</a> برگردید.</p>
    {% endif %}
    </body>
</html>
