<html>
    <head>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
    </head>

    <body>

    <h2>لیست تکالیف</h2>

    <table>
      <tr>
        <th>عنوان</th>
        <th>آخرین تاریخ ارسال</th>
        <th>فایل سوالات</th>
        <th>توضیحات اضافی</th>
        <th>ارسال پاسخ</th>
        <th>نمره فعلی</th>
      </tr>
      {% for ques in question %}
        <tr>
            <td>{{ques.question_title}}</td>
            <td>-</td>
            <td><p>TO BE ADDED</p></td>
            <td>{{ques.explanation}}</td>
            {% if ques.deadline_date >= current_time %}
                <td><a href = "">ارسال پاسخ</a></td>
            {% else %}
                <td>مهلت ارسال پاسخ تمام شده است</td>
            {% endif %}
            <td>-</td>
            {% for ans in question.answer_set.all %}
                {% if ans.user == current_user %}
                    <td>{{ques.question_title}}</td>
                    <td>ans.upload_date</td>
                    <td><p>TO BE ADDED</p></td>
                    <td>{{ques.explanation}}</td>
                    {% if ques.deadline_date >= current_time %}
                        <td><a href = "">ارسال پاسخ</a></td>
                    {% else %}
                        <td>مهلت ارسال پاسخ تمام شده است</td>
                    {% endif %}
                    {% if ans.score != Null%}
                        <td>ans.score</td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>
      {% endfor %}

    </table>

    </body>
</html>
