<html>
    <head>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
    </head>

    <body>
    {% if user.is_authenticated %}
        {% if user.is_staff %}
            <p>You are the professor, please access the assignments page from <a href="/">here</a></p>
        {% else %}
            <h2>Assignments</h2>

            <table>
              <tr>
                <th>Title</th>
                <th>Deadline</th>
                <th>Attached File</th>
                <th>Further Information</th>
                <th>Upload an answer</th>
                <th>Current Score</th>
              </tr>
              {% for ques in question %}
                <tr>
                    <td>{{ques.question_title}}</td>
                    {% if ques.deadline_date %}
                        <td>{{ques.deadline_date}}</td>
                    {% else %}
                        <td>---</td>
                    {% endif %}
                    <td><a  href="{{ques.document.url}}" download>Download</a></td>
                    <td>{{ques.explanation}}</td>
                    {% if current_time.date < ques.deadline_date.date %}
                        <td><a href = "{% url 'student_homework_upload' ques.id %}">Upload</a></td>
                    {% else %}
                        {% if current_time.date == ques.deadline_date.date %}
                            {% if current_time.time < ques.deadline_date.time %}
                                <td><a href = "{% url 'student_homework_upload' ques.id %}">Upload</a></td>
                            {% else %}
                                <td>You've missed the deadline.</td>
                            {% endif %}
                        {% else %}
                            <td>You've missed the deadline.</td>
                        {% endif %}
                    {% endif %}
                    <td>-</td>
                </tr>
              {% endfor %}
                {% for anses in answer %}
                <tr>
                    <td>{{anses.question.question_title}}</td>
                    {% if anses.question.deadline_date %}
                        <td>{{anses.question.deadline_date}}</td>
                    {% else %}
                        <td>---</td>
                    {% endif %}
                    <td><a  href="{{anses.question.document.url}}" download>Download</a></td>
                    <td>{{anses.question.explanation}}</td>
                    <td><a href = "{% url 'student_homework_upload' anses.question.id %}">Upload</a></td>
                    {% if anses.score %}
                        <td>{{anses.score}}</td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                </tr>
              {% endfor %}
            </table>
        {% endif %}
        <button onclick="location.href='{% url 'home' %}'" type="button">Return</button>
    {% else %}
        <p> You are not authorized to access this page, please return <a href="/">home</a> </p>
    {% endif %}
    </body>
</html>
